body {
    background-color: #4d4866;
    background-image: url("https://phonoteka.org/uploads/posts/2021-05/1621484124_22-phonoteka_org-p-fon-chisla-i-tsifri-23.png");
    font-family: 'Alexandria', sans-serif;
    object-fit: cover;
    object-position: center;
}
.back {
    content: "";
    top: 0;
    left: 0;
    background-color: #5d62a3;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 100%;
    z-index: -1;
}
.calculator {
    width: 500px;
    background-color: #a2a6db;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 60px #5d62a3;
    border-bottom: solid 60px #5d62a3;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin-bottom: 20%;
    z-index: 100;
}
.calculator__input {
    background-color: none;
    border: 0;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    color: white;
    outline: none;
    width: 99.2%;
    background: none;
    border-bottom: 4px white solid;
    letter-spacing: 3px;
}
.calculator__input::placeholder {
    color: white;
}
.calculator__btn {
    font-family: 'Alexandria', sans-serif;
}
.calculator__bottom {
    padding: 0 40px;
    justify-content: center;
    margin: 20px 0;
    display: flex;
}
.calculator__btns-left {
    display: flex;
    max-width: 240px;
    flex-wrap: wrap;
    gap: 10px;
}
.calculator__btn {
    width: 70px;
    font-size: 25px;
    cursor: pointer;
    color: #a2a6db;
    height: 70px;
    border-radius: 50%;
    outline: none;
    border: none;
    transition: all 0.8s;
}
.equally{
    width: 70px;
    font-size: 25px;
    cursor: pointer;
    color: #a2a6db;
    height: 70px;
    border-radius: 50%;
    outline: none;
    border: none;
    transition: all 0.8s;   
}
.operation {
    background-color: #978ac9; 
    color: white;;
}
.calculator__btn:hover {
    background-color: #686ebf;
    color: white;
}
.equally:hover {
    background-color: #686ebf;
    color: white;
}
.calculator__btns-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculator__btn-rotate {
  animation: rotate 0.5s infinite ease-in-out;

}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 560px) {
    .calculator {
        width: 95%;
    }
}
@media screen and (max-width: 410px) {
    .calculator__bottom {
        padding: 0 30px;
    }
    .calculator__btns-left {
        width: 170px;
    }
    .calculator__btns-right { 
        margin-left: 10px;
    }
    .calculator__btn {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    .equally{
        width: 50px;
        font-size: 20px;
        height: 50px;
    }  
}